{
  "swagger": "2.0",
  "info": {
    "title": "(title)",
    "version": "0000-00-00"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [],
  "paths": {
    "/foo/DefaultDescriptions": {
      "get": {
        "operationId": "foo_WithDefaultDescriptions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/Resp"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/foo/ModelDocDescriptions": {
      "get": {
        "operationId": "foo_WithModelDocDescriptions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response from @doc",
            "schema": {
              "$ref": "#/definitions/RespWithDocs"
            }
          },
          "default": {
            "description": "Error from @doc",
            "schema": {
              "$ref": "#/definitions/ErrorWithDocs"
            }
          }
        }
      }
    },
    "/foo/NotFoundWithDocs": {
      "get": {
        "operationId": "foo_WithStatusCodeDocs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/Resp"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundWithDocsResp"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/foo/NotFoundDefaultDocs": {
      "get": {
        "operationId": "foo_WithDefaultDescNotFound",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response from @doc",
            "schema": {
              "$ref": "#/definitions/RespWithDocs"
            }
          },
          "404": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/NotFoundResp"
            }
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resp": {
      "type": "object",
      "properties": {
        "value": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "value"
      ]
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "code"
      ]
    },
    "RespWithDocs": {
      "type": "object",
      "properties": {
        "value": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Response from @doc",
      "required": [
        "value"
      ]
    },
    "ErrorWithDocs": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Error from @doc",
      "required": [
        "code"
      ]
    },
    "NotFoundWithDocsResp": {
      "type": "object",
      "properties": {
        "details": {
          "type": "string"
        }
      },
      "description": "Not found",
      "required": [
        "details"
      ]
    },
    "NotFoundResp": {
      "type": "object",
      "properties": {
        "details": {
          "type": "string"
        }
      },
      "required": [
        "details"
      ]
    }
  },
  "parameters": {}
}