{
  "swagger": "2.0",
  "info": {
    "title": "(title)",
    "version": "0000-00-00"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [],
  "paths": {
    "/bool/false": {
      "get": {
        "operationId": "bool_getFalse",
        "summary": "Get true Boolean false",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "type": "boolean",
              "enum": [
                false
              ]
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "operationId": "bool_putFalse",
        "summary": "Set Boolean value false",
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "type": "boolean",
              "enum": [
                false
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Null response"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bool/invalid": {
      "get": {
        "operationId": "bool_getInvalid",
        "summary": "Get invalid Boolean value",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Null response"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bool/null": {
      "get": {
        "operationId": "bool_getNull",
        "summary": "Get null Boolean value",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Null response"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/bool/true": {
      "get": {
        "operationId": "bool_getTrue",
        "summary": "Get true Boolean value",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "type": "boolean",
              "enum": [
                true
              ]
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "operationId": "bool_putTrue",
        "summary": "Set Boolean value true",
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "type": "boolean",
              "enum": [
                true
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      },
      "description": "Error",
      "required": [
        "code",
        "message"
      ]
    }
  },
  "parameters": {}
}
