{
  "swagger": "2.0",
  "info": {
    "title": "DiscriminatorTest",
    "version": "2021-10-01-preview",
    "description": "DiscriminatorTest Resource Provider management API."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Employees"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.DiscriminatorTest/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../providerhub/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../../providerhub/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DiscriminatorTest/employees": {
      "get": {
        "operationId": "Employees_ListBySubscription",
        "description": "List Employee resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmployeeListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../../providerhub/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Employees"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DiscriminatorTest/employees": {
      "get": {
        "operationId": "Employees_ListByResourceGroup",
        "description": "List Employee resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmployeeListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../../providerhub/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Employees"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DiscriminatorTest/employees/{employeeName}": {
      "get": {
        "operationId": "Employees_Get",
        "description": "Get a Employee",
        "parameters": [
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Employee.employeeName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../../providerhub/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Employees"
        ]
      },
      "put": {
        "operationId": "Employees_CreateOrUpdate",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "description": "Create a Employee",
        "parameters": [
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Employee.employeeName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../../providerhub/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Employees"
        ]
      },
      "patch": {
        "operationId": "Employees_Update",
        "description": "Update a Employee",
        "parameters": [
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Employee.employeeName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EmployeeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../../providerhub/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Employees"
        ]
      },
      "delete": {
        "operationId": "Employees_Delete",
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "description": "Delete a Employee",
        "parameters": [
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Employee.employeeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../../providerhub/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Employees"
        ]
      },
      "post": {
        "operationId": "Employees_GiveRaise",
        "parameters": [
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../providerhub/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Employee.employeeName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Employee"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../../providerhub/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Employees"
        ]
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true
      }
    },
    "Common.EmployeeRole": {
      "type": "object",
      "properties": {
        "roleType": {
          "type": "string"
        }
      },
      "discriminator": "roleType",
      "required": [
        "roleType"
      ]
    },
    "Common.IcRole": {
      "type": "object",
      "properties": {
        "roleType": {
          "type": "string"
        }
      },
      "required": [
        "roleType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Common.EmployeeRole"
        }
      ],
      "x-ms-discriminator-value": "IC"
    },
    "Employee": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EmployeeProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../../providerhub/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "format": "^[a-zA-Z0-9-]{3,24}$",
          "readOnly": true
        }
      },
      "description": "A DiscriminatorTest resource",
      "required": [
        "properties",
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../providerhub/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EmployeeListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Employee"
          },
          "x-cadl-name": "Microsoft.DiscriminatorTest.Employee[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a Employee list operation.",
      "required": [
        "value"
      ]
    },
    "EmployeeProperties": {
      "type": "object",
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32"
        },
        "city": {
          "type": "string"
        },
        "role": {
          "$ref": "#/definitions/Common.EmployeeRole"
        },
        "type": {
          "$ref": "#/definitions/EmployeeType"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource."
        }
      },
      "required": [
        "role",
        "type",
        "provisioningState"
      ]
    },
    "EmployeeType": {
      "type": "object",
      "properties": {
        "employeeType": {
          "type": "string"
        }
      },
      "discriminator": "employeeType",
      "required": [
        "employeeType"
      ]
    },
    "EmployeeUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "ARM resource tags."
        },
        "properties": {
          "$ref": "#/definitions/EmployeeUpdateProperties"
        }
      },
      "description": "The type used for update operations of the Employee."
    },
    "EmployeeUpdateProperties": {
      "type": "object",
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32"
        },
        "city": {
          "type": "string"
        },
        "role": {
          "$ref": "#/definitions/Common.EmployeeRole"
        },
        "type": {
          "$ref": "#/definitions/EmployeeType"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource."
        }
      },
      "description": "The updatable properties of the Employee."
    },
    "ExecutiveEmployee": {
      "type": "object",
      "properties": {
        "employeeType": {
          "type": "string"
        },
        "specialReward": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "employeeType",
        "specialReward"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EmployeeType"
        }
      ],
      "x-ms-discriminator-value": "Executive"
    },
    "HourlyEmployee": {
      "type": "object",
      "properties": {
        "employeeType": {
          "type": "string"
        },
        "hourlyRate": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "employeeType",
        "hourlyRate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EmployeeType"
        }
      ],
      "x-ms-discriminator-value": "Hourly"
    },
    "ManagerRole": {
      "type": "object",
      "properties": {
        "roleType": {
          "type": "string"
        },
        "teamSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "roleType",
        "teamSize"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Common.EmployeeRole"
        }
      ],
      "x-ms-discriminator-value": "Manager"
    },
    "SalariedEmployee": {
      "type": "object",
      "properties": {
        "employeeType": {
          "type": "string"
        },
        "annualPay": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "employeeType",
        "annualPay"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EmployeeType"
        }
      ],
      "x-ms-discriminator-value": "Salaried"
    }
  },
  "parameters": {
    "Employee.employeeName": {
      "x-ms-parameter-location": "method",
      "name": "employeeName",
      "in": "path",
      "required": true,
      "format": "^[a-zA-Z0-9-]{3,24}$",
      "type": "string"
    }
  }
}
